<h1>Editando Comentario Biblico para <%= @book_commentary.book.name %></h1>

<%= render 'form', book_commentary: @book_commentary %>

<%= link_to 'Show', @book_commentary %> |
<%= link_to 'Back', book_commentaries_path %>
