<footer class="text-center">
  <small>adventista.io</small>
  <span class="right">
    <%= link_to 'Cerrar Sesión', 
          destroy_user_session_path(current_user),
            method: :delete, class: 'link white' if current_user %>
  </span>
</footer>
