<header>
  <% if controller_name == 'home' %>
    <span class='logo-text'><%= link_to 'comba', root_path %></span>
  <% elsif controller_name != 'home' %>
    <span class='logo-text'><%= link_to 'comba', root_path %></span>
  <% end %>
  <h1 class="logo-name">Comentario Bíblico Adventista</h1>
</header>
