<div class="row">
  <div class="column">
    <section id="message">
      <h4 class="primary-font text-center">Profundiza en el estudio de la Biblia, con comentarios de cada versiculo.</h4>
    </section>
  </div>
  <div class="column medium-2 medium-push-10">
    <%= link_to 'Ver Todos los Libros', books_path, class: "button" %>
  </div>
  <div id="randomVerseContainer" class="column">
    <% today_verse = Verse.find_by('id = ?', rand(Verse.count)) %>
    <h3 class="verse"><%= today_verse.verse %></h3>
    <h5 class="cite"><%= link_to "#{today_verse.book.name} #{today_verse.chapter.number}:#{today_verse.number}", today_verse %></h5>
  </div>

</div>
