<div class="content">
  <div class="column hide-for-small-only">
    <section class="home-app-description">
      <h4 class="primary-font text-center">Profundiza en el estudio de la Biblia, con comentarios de cada versiculo en al Biblia.</h4>
    </section>
  </div>
  <div class="column small-12 text-center">
    <br class="show-for-small-only">
    <%= link_to 'Libros', books_path, class: "button-outline" %>
  </div>
  <div id="randomVerseContainer" class="column">
    <% today_verse = Verse.find_by('id = ?', rand(Verse.count)) %>
    <h3 class="home-random-verse"><%= today_verse&.verse.capitalize %></h3>
    <h5 class="cite">
      <%= link_to "#{today_verse&.book&.name} #{today_verse&.chapter&.number}:#{today_verse&.number}",
          today_verse,
          class: 'link' %>
    </h5>
  </div>

</div>
