<div class="row text-center">

  <h1>Libros</h1>

  <div class="column medium-6">
    <h2>Antiguo Testamento</h2>
    <% @books.where('section_id = ?', 1).each do |book| %>
    <div>
      <%= link_to book.name, book_path(book) %>
    </div>
    <% end %>
  </div>


  <div class="column medium-6">
    <h2>Nuevo Testamento</h2>
    <% @books.where('section_id = ?', 2).each do |book| %>
    <div>
      <%= link_to book.name, book_path(book) %>
    </div>
    <% end %>
  </div>
</div>
