<div class="row">
  <h1>Editando Comentario <small><%= @verse.book.name %> <%= @verse.chapter.number %>:<%= @verse.number %></small></h1>
  <%= render 'form', verse_commentary: @verse_commentary %>
</div>
