/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require foundation-icons
*/

a:hover{
  background: rgb(47, 154, 177);
  border-radius: .2em;
  color: white;
}
a:visited{
  color: black;
}

a.button,
a.button:hover{
  color: white;
}

body{
  margin: 0;
  position: relative;
  min-height: 100%;
}

h1,h2,h3,h4,h5,h6{
  color: rgb(0, 128, 182);
  font-family: 'Bree Serif', serif;
}

h1::before{
  border-left: 2px solid black;
}

header .logo-text a,
header .logo-text a:hover,
header span{
  background: none;
  color: rgb(237, 237, 237);
}

header .logo-text{
  font-family: 'Bree Serif', serif;
  font-size: 3em;
  margin-bottom: 0;
}

header span{
  font-size: 1.1em;
}

html{
  height: 100%;
}

#adminBar{
  background: rgb(51, 50, 50);
  color: white;
  font-size: 1.2em;
  padding: .2em;
}

#adminBar a,
#adminBar a:hover{
  color: rgb(2, 198, 232);
}

#content{
  padding-bottom: 5em;
}

#footerContainer footer{
  color: white;
  background: rgb(0, 45, 69);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 1em;
}

#headerSection{
  background: rgb(18, 86, 168);
}

#message{
    margin: 6em 0;
}

#randomVerseContainer{
  padding: 3em;
}
#randomVerseContainer .verse{
  color: rgb(0, 128, 182);
  font-style: italic;
  font-weight: bold;
}

#randomVerseContainer .cite{
  background: rgb(8, 120, 150);
  border-radius: 1em;
  color: rgb(235, 235, 235);
  display: inline-block;
  font-weight: bold;
  padding: .1em 1em;
}

#randomVerseContainer .cite a,
#randomVerseContainer .cite a:hover{
  color: rgb(235, 235, 235);
  background: none;
}

.book-title{
  h1{
    margin-bottom: 0;
  }
  p{
    margin: 0;
  }
}

.chapters{
  padding: 4em 0;

  a{
    background-color: #e4e4e4;
    font-size: 1.2em;
    border-radius: .2em;
    padding: .2em .2em;
    transition: all .3s;

    &:hover{
      color: white;
      background-color: rgb(255, 179, 0);
      font-size: 1.8em;
    }
  }
}

.commentary{
  background: rgb(244, 244, 244);
}
.commentary p{
  font-size: 1.3em;
  line-height: 1.1em;
}

.commentary h2,
.commentary h3,
.commentary h4,
.commentary h5,
.commentary h6{
  color: rgb(112, 0, 120);
}

.primary-font{
  font-family: 'Bree Serif', serif;
}

.flex-v-center{
  display: flex;
  align-items: center;
}
