// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.edit_book {
  .actions {
    position: sticky;
    bottom: 4px;
    margin-top: 5px;
  }
}

.book-descriptive-image {
  box-shadow: 2px 2px 12px #BBB;
  display: block;
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 1em;
}

.book-title {
  h1 {
    font-size: 3em;
    margin: 0 1em;
    font-family: 'Frank+Ruhl+Libre';
  }
}

.book-prev,
.book-next {
  font-family: 'Frank+Ruhl+Libre';
  display: inline-block;
  width: 200px;

  a {
    color: rgba(0, 0, 0, .4);
    text-decoration: none;
    font-size: 1.4em;
  }
}

.books-list-container {
  display: flex;
  justify-content: center;
  gap: 5em;

  .books-list {
    margin-left: 1em;
    padding-left: 1em;
    border-left: 2px solid rgb(80, 100, 200);
  }
}