// Place all the styles related to the Chapters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.books-and-verses-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.verses-list {
  display: grid;
  grid-template-columns: repeat(10, auto);
  gap: .4em 1.5em;
  justify-content: center;
  font-weight: 400;
  font-size: .9em;
}