// Place all the styles related to the Verses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.verses-list {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.verse-show {
  font-size: 2.5em;
  font-family: "Frank Ruhl Libre";
}