<div class="container">
  <h1>Editando Categoría</h1>

  <%= render 'form', category: @category %>

  <%= link_to 'Ver', @category, class: :link %> |
  <%= link_to 'Atrás', :back, class: :link %>
</div>
