<div class="container">
  <h1>
    Libros
    <strong><%= @category.name %></strong>
  </h1>

  <ul>
    <% @category.books.each do |book| %>
      <li>
        <%= link_to book.name, book, class: :link %>
      </li>
    <% end %>
  </ul>

  <%= link_to 'Editar', edit_category_path(@category), class: :link %> |
  <%= link_to 'Atrás', categories_path, class: :link %>
</div>
